*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.flashlight {
  font-size: 7rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}